/* Card.css */

/* Card container */
.card {
    width: 300px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 1rem;
    font-family: Arial, sans-serif;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
  }
  
.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  .card-image-container {
    position: relative;
    overflow: hidden;
    background-color: black;
  }

  /* Card image */
  .card-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    opacity: 70%;
  }

    .card-category {
        display: flex;
        position: absolute;
        top: 1rem;
        left: 0.5rem;
    }

        .card-category-icon {
          width: 50px;
          height: 50px;
          border-radius: 20%;
          background-color: white;
          justify-content: center;
          align-items: center;
        }

        .card-category-text {
          font-size: 1.25rem;
          font-weight: 600;
          color: white;
          margin-left: 0.75rem;
          margin-top: 0.5rem;
        }
  
  /* Card body */
  .card-body {
    padding: 2rem 1rem 1rem 1rem;
  }
  
  .card-title {
    font-size: 1.30rem;
    font-weight: bold;
    /* margin-bottom: 0.5rem; */
    color: #111827; /* Very dark gray text */
  }
  
  .card-description {
    font-size: 0.875rem;
    color: #6b7280; /* Gray text */
    margin-bottom: 1rem;
  }

  
  /* Card footer */
  .card-view-footer {
    display: flex;
    align-items: center;
    padding: 1rem;
    /* border-top: 1px solid #e5e7eb; */
    font-size: 0.875rem;
    color: #4b5563; /* Medium gray text */
  }
  
  .card-view-footer-icon {
    margin-right: 0.5rem;
    color: #9ca3af; /* Light gray text */
  }

  .card-edit-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    /* border-top: 1px solid #e5e7eb; */
    font-size: 0.875rem;
    color: #4b5563; /* Medium gray text */
  }

  .card-edit-footer-icon {
    margin: auto;
  }