.card {
  width: 300px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin: 1rem;
  font-family: Arial, sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.card-image-container {
  position: relative;
  overflow: hidden;
  background-color: black;
}

.card-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  opacity: 0.7;
}

.card-category {
  display: flex;
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  align-items: center;
}

.card-category-icon {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  background-color: white;
}

.card-category-text {
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  margin-left: 0.75rem;
}

.card-header {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
}

.card-header-icon {
  width: 38px;
  height: 30px;
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #111827;
}

.card-description {
  font-size: 0.875rem;
  color: #6b7280;
  margin-bottom: 1rem;
}

.card-price {
  font-size: 1rem;
  font-weight: bold;
  color: #111827;
}

.card-view-footer,
.card-edit-footer {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 0.875rem;
  color: #4b5563;
}

.card-view-footer-icon {
  margin-right: 0.5rem;
  color: #9ca3af;
}

.card-edit-footer {
  justify-content: space-between;
}

.card-edit-footer-icon {
  margin: auto;
}